/* global styles start  */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px;
}

/* global styles finish  */

.hm {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900 !important;
  color: white !important;
  text-shadow: 2px 5px 10px black;
}

.im1 {
  border-radius: 20px;
  box-shadow: 2px 10px 20px rgb(152, 147, 147);
}

.im1:hover {
  box-shadow: 2px 10px 70px rgb(255, 255, 255);
  transition: all 3s;
}

.sc1 {
  width: 100%;
  height: 100vh;
  background-color: #051c2f;
}

/* header section start  */

header {
  background-color: #051c2f;
  align-items: center;
  backdrop-filter: blur(20px) !important;
  background-color: rgba(255, 255, 255, 0) !important;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  gap: 30px;
  color: #ffffff;
}

ul li :hover {
  transition: 1s;
  color: #39ec2a;
}

ul li {
  font-size: 20px;
  font-weight: 600;
}

ul li:active {
  scale: 0.9;
}

nav img {
  width: 80px;
}

nav button {
  display: flex;
  padding: 10px 30px;
  color: rgb(255, 255, 255);
  background-color: #245108;
  border-radius: 6px;
  align-items: center;
  gap: 16px;
  box-shadow: 2px 2px 10px white;
}

nav button:hover {
  transition: 1s;
  color: #ffffff;
  background-color: rgb(255, 255, 255);
  color: black;
}

nav button:active {
  scale: 0.9;
}

nav button img {
  width: 36px;
  height: 0px;
}

.bro {
  display: flex;
  margin-top: 110px;
  justify-content: space-between;
}

.left h1 {
  margin: 20px 0px;
  color: #051c2f;
  font-size: 64px;
  font-weight: 400;
}

.left p {
  color: #2f4252;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 44px;
}

h4 {
  font-weight: 700;
  font-size: 25px;
  color: #051c2f;
  margin-bottom: 10px;
  font-weight: 800;
}

.left img {
  margin-bottom: 20px;
}

.right2 {
  display: flex;
  flex-direction: column;
  background-color: #2f4252;
  border-radius: 20px;
  padding: 50px;
  gap: 8px;
  width: 525px;
  box-shadow: 2px 50px 90px black;
}

.right2 h2 {
  color: #ffffff;
  font-size: 48px;
  font-weight: 400;
}

.right2 p {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
}

.text {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 40px !important;
  font-weight: 800 !important;
}

.ht {
  font-weight: 800 !important;
}

.h5 {
  color: black;
  position: relative;
  bottom: 60px;
  left: 20px;
  font-weight: 600;
}

.btn2 {
  box-shadow: 2px 2px 10px white;
  background-color: rgb(6, 76, 6);
}

.btn2:hover {
  transition: all 2s;
  color: #ffffff;
  background-color: rgb(255, 255, 255);
  color: black;
}

.btn2:active {
  scale: 0.5;
}

/* ???? */

.box-1 {
  width: 380px;
  background-color: #3e5261;
  border-radius: 16px;
  margin-bottom: 50px;
}

.box-2 {
  width: 380px;
  background-color: #3e5261;
  border-radius: 16px;
  margin-bottom: 50px;
}

.box-3 {
  width: 380px;
  background-color: #3e5261;
  border-radius: 16px;
  margin-bottom: 50px;
}

/* footer section start  */

.footer-wrapper {
  display: flex;
  align-items: center;
}

.ft-txt {
  font-family: "Dm Sans";
  width: 260px;
  color: rgb(153, 151, 151);
  margin-left: 60px;
  margin-top: 15px;
}

.serice-txt {
  color: rgb(152, 152, 152);
  font-family: "DM Sans";
  margin-bottom: 15px;
}

.servis-title {
  color: white;
  font-family: "DM Sans";
  margin-bottom: 25px;
}

.check-txt {
  width: 270px;
  color: white;
  font-family: "DM SANS";
  margin-bottom: 25px;
}

.footer-inp {
  text-align: center;
  width: 150px;
  height: 49px;
  border: none;
  border-radius: 8px;
}

.footer-btn {
  width: 70px;
  height: 49px;
  border-radius: 6px;
  border: none;
  background-color: #39ec2a;
}

.hr {
  margin-top: 50px;
}

.fotter-wrap {
  font-family: "DM Sans";
  color: white;
  margin-top: 50px;
}

/* ?????/ */

.path {
  margin: 0 40px;
  height: 30px;
  width: 300px;
  display: inline-block;
  background-color: white;
  border: gray solid 2px;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

@keyframes eating-path {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 10px 0;
  white-space: nowrap;
  width: 100%;
  position: absolute;
  left: 0;
}

.logo-slide {
  display: inline-block;
  animation: eating-path 15s infinite linear;
  overflow: hidden;
}
